<!DOCTYPE html>
<html>
  <head>
    <title>Sunrise</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="Header">
      <h1>Sunrises</h1>
      <p>Welcome to sunrises</p>
    </div>

    <div class="flex-container">
        <div class="row">
            <div class="flex-item"><h1> Welcome to Sunrises</div>
        </div>
    </div>

  </body>
</html>
